/bin/
**/bin/
**/obj/
.claude
.vs/
*.user

FFTweaks.code-workspace
.dev-version.json
.vscode/
fierrof.fft.config.cfg
ActionUI_CharacterSlots
ActionUI_Keymaps
gymmed.Mods_Communicator
sinai-dev SideLoader
BepInEx.cfg
gymmed.outward_mods_communicator.cfg
iggy.customattributes.cfg
iggy.quests.mod.cfg
johbenji.bossrush.cfg
johbenji.npcweapons.cfg
ModifAmorphic.Outward.ActionUI.cfg
modifamorphic.outward.respecpotions.cfg
modifamorphic.outward.transmorphic.enchanting.recipes
modifamorphic.outward.transmorphic.transmogrify.recipes
sideloaderextendedeffects.extendedeffects.cfg
sigilbaram.slowercolds.cfg